name: Sync S3 to GitHub
on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      source-location:
        description: "The destination location in S3"
        required: false
        default: "s3://staging-docs-airflow-apache-org/docs"
        type: string
      local-destination:
        description: "The local destination location"
        required: false
        default: "./docs-archive"
        type: string
      document-folder:
        description: "Provide any specific package document folder to sync"
        required: false
        default: "NO_DOCS"
        type: string
jobs:
  s3-to-github:
    name: S3 to GitHub
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install AWS CLI v2
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o /tmp/awscliv2.zip
          unzip -q /tmp/awscliv2.zip -d /tmp
          rm /tmp/awscliv2.zip
          sudo /tmp/aws/install --update
          rm -rf /tmp/aws/

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a  # v4.0.1
        with:
          aws-access-key-id: ${{ secrets.DOCS_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DOCS_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Syncing
        run: |
          python3 -m pip install uv
          uv run ./scripts/s3_to_github.py --bucket-path ${{inputs.source-location}} --local-path ${{inputs.local-destination}} --document-folder ${{inputs.document-folder}}

      - name: Commiting changes
        run: |
          echo "Running git config"
          git config user.name "GitHub Actions"
          git config user.email "actions@users.noreply.github.com"
          echo "Running git add"
          git add .
          echo "Running git commit"
          git commit -m "Sync S3 to GitHub" || echo "No changes to commit"
          git push --force origin main
          
        
